$margins: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 25 30 35 40 45 50;

/*----------------------------------------------------------------------
 Margin
----------------------------------------------------------------------*/
@each $i in $margins {
    .m-#{$i} {
        margin: 0.1rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Margin top
----------------------------------------------------------------------*/
@each $i in $margins {
    .mt-#{$i} {
        margin-top: 0.1rem * $i !important;
    }
}

/*----------------------------------------------------------------------
Margin right
----------------------------------------------------------------------*/
@each $i in $margins {
    .mr-#{$i} {
        margin-right: 0.1rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Margin bottom
----------------------------------------------------------------------*/
@each $i in $margins {
    .mb-#{$i} {
        margin-bottom: 0.1rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Margin left
----------------------------------------------------------------------*/
@each $i in $margins {
    .ml-#{$i} {
        margin-left: 0.1rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 No margin
----------------------------------------------------------------------*/
.no-margin          { margin: 0 !important; }
.no-margin-top      { margin-top: 0 !important; }
.no-margin-right    { margin-right: 0 !important; }
.no-margin-bottom   { margin-bottom: 0 !important; }
.no-margin-left     { margin-left: 0 !important; }
