/*----------------------------------------------------------------------
 Padding
----------------------------------------------------------------------*/
@for $i from 1 through 4 {
    .p-#{$i * 5} {
        padding: 0.5rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Padding top
----------------------------------------------------------------------*/
@for $i from 1 through 4 {
    .pt-#{$i * 5} {
        padding-top: 0.5rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Padding right
----------------------------------------------------------------------*/
@for $i from 1 through 4 {
    .pr-#{$i * 5} {
        padding-right: 0.5rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Padding bottom
----------------------------------------------------------------------*/
@for $i from 1 through 4 {
    .pb-#{$i * 5} {
        padding-bottom: 0.5rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 Padding left
----------------------------------------------------------------------*/
@for $i from 1 through 4 {
    .pl-#{$i * 5} {
        padding-left: 0.5rem * $i !important;
    }
}

/*----------------------------------------------------------------------
 No padding
----------------------------------------------------------------------*/
.no-padding         { padding: 0 !important; }
.no-padding-top     { padding-top: 0 !important; }
.no-padding-right   { padding-right: 0 !important; }
.no-padding-bottom  { padding-bottom: 0 !important; }
.no-padding-left    { padding-left: 0 !important; }
