/*----------------------------------------------------------------------
 Text weight
----------------------------------------------------------------------*/
.text-thin          { font-weight: 100 !important; }
.text-light         { font-weight: 300 !important; }
.text-regular       { font-weight: 400 !important; }
.text-semibold      { font-weight: 500 !important; }
.text-bold          { font-weight: 700 !important; }
.text-black         { font-weight: 900 !important; }

/*----------------------------------------------------------------------
 Text styles
----------------------------------------------------------------------*/
.text-normal        { font-style: normal !important; }
.text-italic        { font-style: italic !important; }
.text-underline     { text-decoration: underline !important; }
.text-strike        { text-decoration: line-through !important; }

/*----------------------------------------------------------------------
 Text cases
----------------------------------------------------------------------*/
.text-highlight     { padding: 0.4rem 0.6rem !important; }
