/*----------------------------------------------------------------------
 Font
----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900");

/*----------------------------------------------------------------------
 Resources
----------------------------------------------------------------------*/
@import "resources/bootstrap";
@import "resources/font-awesome";

/*----------------------------------------------------------------------
 Global settings
----------------------------------------------------------------------*/
html {
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*----------------------------------------------------------------------
 Helpers
----------------------------------------------------------------------*/
@import "helpers/cursor";
@import "helpers/font";
@import "helpers/margin";
@import "helpers/padding";
@import "helpers/text";
@import "helpers/width";

/*----------------------------------------------------------------------
 Components
----------------------------------------------------------------------*/
// @import "components/badge";

/*----------------------------------------------------------------------
 Layout
----------------------------------------------------------------------*/
// @import "layout/navigation";

/*----------------------------------------------------------------------
 Pages
----------------------------------------------------------------------*/
// @import "pages/authentication";