// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                      #373a3c !default;
$gray:                           #55595c !default;
$gray-light:                     #818a91 !default;
$gray-lighter:                   #eceeef !default;
$gray-lightest:                  #f7f7f9 !default;

$brand-primary:                  #2196f3 !default;
$brand-success:                  #4caf50 !default;
$brand-info:                     #00bcd4 !default;
$brand-warning:                  #ff9800 !default;
$brand-danger:                   #f44336 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:                    true !default;
$enable-shadows:                 true !default;
$enable-transitions:             true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$border-width:                   0.1rem !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                        #eeeded !default;
$body-color:                     #333333 !default;


// Links
//
// Style anchor elements.

$link-color:                      $brand-primary !default;
$link-decoration:                 none !default;
$link-hover-color:                darken($link-color, 15%) !default;
$link-hover-decoration:           underline !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:                    24 !default;
$grid-gutter-width:               3.0rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:          "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:                  1.0rem !default;

$font-size-base:                  1.4rem !default;
$font-size-xs:                    1.1rem !default;
$font-size-sm:                    1.25rem !default;
$font-size-lg:                    1.6rem !default;

$font-size-h1:                    4.0rem !default;
$font-size-h2:                    3.2rem !default;
$font-size-h3:                    2.8rem !default;
$font-size-h4:                    2.4rem !default;
$font-size-h5:                    2.0rem !default;
$font-size-h6:                    1.8rem !default;

$display1-size:                   9.6rem !default;
$display2-size:                   8.8rem !default;
$display3-size:                   7.2rem !default;
$display4-size:                   5.6rem !default;

$lead-font-size:                  2.0rem !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius:                   0.4rem !default;
$border-radius-lg:                0.5rem !default;
$border-radius-sm:                0.3rem !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:              1.2rem !default;
$table-sm-cell-padding:           0.5rem !default;

$table-bg:                        transparent !default;
$table-bg-accent:                 #fcfcfc !default;
$table-bg-hover:                  #f8f8f8 !default;
$table-bg-active:                 $table-bg-hover !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.'

$btn-box-shadow:                  inset 0 0.1rem 0 rgba(255,255,255,.15), 0 0.1rem 0.1rem rgba(0,0,0,.075) !default;
$btn-active-box-shadow:           inset 0 0.3rem 0.5rem rgba(0,0,0,.125) !default;

$btn-padding-x:                   1.2rem !default;
$btn-padding-y:                   0.8rem !default;

$btn-padding-x-sm:                0.8rem !default;
$btn-padding-y-sm:                0.4rem !default;

$btn-padding-x-lg:                2.4rem !default;
$btn-padding-y-lg:                1.2rem !default;

// Forms

$input-box-shadow:                inset 0 0.1rem 0.1rem rgba(0,0,0,.075) !default;

$input-padding-x:                 1.2rem !default;
$input-padding-y:                 0.8rem !default;

$input-padding-x-sm:              0.8rem !default;
$input-padding-y-sm:              0.4rem !default;

$input-padding-x-lg:              1.8rem !default;
$input-padding-y-lg:              1.2rem !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:              16rem !default;
$dropdown-padding-y:              0.5rem !default;
$dropdown-margin-top:             0.2rem !default;
$dropdown-box-shadow:             0 0.6rem 1.2rem rgba(0,0,0,.175) !default;

$dropdown-item-padding-x:         2.0rem !default;


// Pagination

$pagination-padding-x:            1.2rem !default;
$pagination-padding-y:            0.8rem !default;
$pagination-padding-x-sm:         1.2rem !default;
$pagination-padding-y-sm:         0.4rem !default;
$pagination-padding-x-lg:         2.4rem !default;
$pagination-padding-y-lg:         1.2rem !default;

$pagination-color:                $body-color !default;
$pagination-bg:                   #ffffff !default;
$pagination-border-width:         $border-width !default;
$pagination-border-color:         #dddddd !default;

$pagination-hover-color:          $link-hover-color !default;
$pagination-hover-bg:             $body-bg !default;
$pagination-hover-border:         #dddddd !default;

$pagination-active-color:         #ffffff !default;
$pagination-active-bg:            $brand-primary !default;
$pagination-active-border:        $brand-primary !default;

$pagination-disabled-color:       $gray-light !default;
$pagination-disabled-bg:          #ffffff !default;
$pagination-disabled-border:      #dddddd !default;


// Pager

$pager-bg:                        $pagination-bg !default;
$pager-color:                     $body-color !default;

$pager-border-width:              $border-width !default;
$pager-border-color:              $pagination-border-color !default;
$pager-border-radius:             1.5rem !default;

$pager-hover-color:               #ffffff !default;
$pager-hover-bg:                  $brand-primary !default;

$pager-active-bg:                 $pagination-active-bg !default;
$pager-active-color:              $pagination-active-color !default;

$pager-disabled-color:            $pagination-disabled-color !default;


// Jumbotron

$jumbotron-padding:               3.2rem !default;


// Cards
$card-spacer-x:                   2.0rem !default;
$card-spacer-y:                   1.2rem !default;


// Tooltips

$tooltip-max-width:               20rem !default;
$tooltip-padding-y:               0.3rem !default;
$tooltip-padding-x:               0.8rem !default;
$tooltip-margin:                  0.3rem !default;

$tooltip-arrow-width:             0.5rem !default;


// Popovers

$popover-inner-padding:           0.1rem !default;
$popover-max-width:               27.6rem !default;
$popover-box-shadow:              0 0.5rem 1.0rem rgba(0,0,0,.2) !default;

$popover-title-padding-x:         1.4rem !default;
$popover-title-padding-y:         0.8rem !default;

$popover-content-padding-x:       1.4rem !default;
$popover-content-padding-y:       0.9rem !default;

$popover-arrow-width:             1.0rem !default;

$popover-arrow-outer-width:       ($popover-arrow-width + 0.1rem) !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:             1.5rem !default;

$modal-dialog-margin:             1.0rem !default;
$modal-dialog-sm-up-margin-y:     3.0rem !default;

$modal-title-padding:             1.5rem !default;

$modal-content-xs-box-shadow:     0 0.3rem 0.9rem rgba(0,0,0,.5) !default;
$modal-content-sm-up-box-shadow:  0 0.5rem 1.5rem rgba(0,0,0,.5) !default;

$modal-lg:                        90rem !default;
$modal-md:                        60rem !default;
$modal-sm:                        30rem !default;


// List group

$list-group-item-heading-margin-bottom: 0.5rem !default;


// Image thumbnails

$thumbnail-box-shadow:            0 0.1rem 0.2rem rgba(0,0,0,.075) !default;


// Breadcrumbs

$breadcrumb-padding-y:           1.0rem !default;
$breadcrumb-padding-x:           1.6rem !default;

$breadcrumb-bg:                   transparent !default;
$breadcrumb-divider-color:        $gray-light !default;
$breadcrumb-active-color:         $gray-light !default;
$breadcrumb-divider:              "/" !default;


// Media objects

$media-margin-top:                1.5rem !default;
$media-heading-margin-bottom:     0.5rem !default;
$media-alignment-padding-x:       1.0rem !default;


// Carousel

$carousel-text-shadow:            0 0.1rem 0.2rem rgba(0,0,0,.6) !default;

$carousel-control-sm-up-size:     3.0rem !default;
$carousel-control-font-size:      2.0rem !default;

$carousel-indicator-size:         1.0rem !default;
$carousel-indicator-active-size:  1.2rem !default;

$carousel-icon-width:             2.0rem !default;


// Close

$close-text-shadow:               0 0.1rem 0 #fff !default;


// Code

$pre-scrollable-max-height:       34rem !default;